$color-black: #000;
$color-white: #fff;
$color-error: #cc3300;
$color-focused: #e3cb8b;
$color-red: #f87878;
$color-green: #84c128;
$color-grey: #e5e5e5;
$color-background: #f9f9f9;

$font-main: Montserat, sans-serif;
